#adhesion{
    background-color: white;

    padding: 100px 50px;

    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .content-wrapper{

        text-align: center;
        width: 100%;

        p{
            font-weight: bold;
            font-size: 2em;
            margin: 0px;
            padding-bottom: 50px;
        }

        a{
            font-family: 'Rubik', sans-serif;

            text-decoration: none;

            background-color: $accent-color;
            border: 3px solid $accent-color;
            padding: 6px 30px;
            border-radius: 10em;
            font-size: 1.5em;
            color: white;

            &:hover, &:active, &:focus{
                background: none;
                border: 3px solid $accent-color;
                color: $accent-color;
            }
        }
    }
}